{% extends "layout.html" %}

{% block title %}
	Home
{% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" type="text/css" href="/static/home.css"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
{% endblock %}

{% block main %}
	<div class="heading_1">
		<div id="courses">
			<span>Likes</span>
		</div>
	</div>

    <script language="javascript">
		localStorage.clear();

        $(window).resize(function() {
        });

        window.addEventListener("load", () => {
			getLocation();
            getNearLuvs();
		});

        function getLocation() {
            var currentPosition;
            if (navigator.geolocation) {
                console.log("success");
                navigator.geolocation.getCurrentPosition(saveLocation, error, {enableHighAccuracy: true});
            } else {
                console.log("fail");
                x.innerHTML = "Geolocation is not supported by this browser.";
            }

            setTimeout(getLocation, 5000);
        }

        function saveLocation(position) {
            console.log("HELLO");
            var data = [
                {
                    "user_id": "{{ user_id }}",
                    "latitude": position.coords.latitude,
                    "longitude": position.coords.longitude
                }
            ];

            console.log("update");
            
            $.ajax({
                type: "POST",
                url: "/update_location",
                data: JSON.stringify(data),
                contentType: "application/json",
                dataType: "json"
            });
        }

        function error(position) {
            console.log("ERROR");
        }

        function getNearLuvs() {
            $.ajax({
                type: "GET",
                url: "/get_near_luvs",
                success: function(data) {
                    console.log(data);
                }
            })

            setTimeout(getNearLuvs, 5000);
        }
    </script>
{% endblock %}