{% extends "layout.html" %}

{% block title %}
	Home
{% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" type="text/css" href="/static/home.css"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
{% endblock %}

{% block main %}
	<div class="heading_1">
		<div id="courses">
			<span>Likes</span>
		</div>
	</div>

    <script language="javascript">
		localStorage.clear();

        $(window).resize(function() {
        });

        window.addEventListener("load", () => {
			getLocation();
		});

        function getLocation() {
            var currentPosition;
            if (navigator.geolocation) {
                currentPosition = navigator.geolocation.getCurrentPosition(saveLocation);
            } else {
                x.innerHTML = "Geolocation is not supported by this browser.";
            }

            setTimeout(getLocation, 5000);
        }

        function saveLocation(position) {
            var data = [
                {
                    "user_id": "{{ user_id }}",
                    "latitude": position.coords.latitude,
                    "longitude": position.coords.longitude
                }
            ];

            console.log("HELLO");
            
            $.ajax({
                type: "POST",
                url: "/update_location",
                data: JSON.stringify(data),
                contentType: "application/json",
                dataType: "json"
            });
        }
    </script>
{% endblock %}