{% extends "layout.html" %}

{% block title %}
	Home
{% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" type="text/css" href="/static/home.css"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
{% endblock %}

{% block main %}
	<div class="heading_1">
		<div id="courses">
			<span>Likes</span>
		</div>
        <div id="likes">
            <span id="like_count">0</span>
        </div>
	</div>

    <script language="javascript">
		localStorage.clear();

        $(window).resize(function() {
        });

        window.addEventListener("load", () => {
			getLocation();
            getNearLuvs();
		});

        function getLocation() {
            var currentPosition;
            if (navigator.geolocation) {
                navigator.geolocation.watchPosition(saveLocation, error, {enableHighAccuracy: true});
            } else {
                x.innerHTML = "Geolocation is not supported by this browser.";
            }
        }

        function saveLocation(position) {
            var data = [
                {
                    "user_id": "{{ user_id }}",
                    "latitude": position.coords.latitude,
                    "longitude": position.coords.longitude
                }
            ];
            
            $.ajax({
                type: "POST",
                url: "/update_location",
                data: JSON.stringify(data),
                contentType: "application/json",
                dataType: "json",
                success: function(response) {
                    $.ajax({
                        type: "GET",
                        url: "/get_near_luvs",
                        success: function(data) {
                            document.getElementById("like_count").textContent = data.length.toString();
                            console.log(data);
                        }
                    })
                }
            });
        }

        function error(position) {
            console.log("ERROR");
        }

        function getNearLuvs() {
            $.ajax({
                type: "GET",
                url: "/get_near_luvs",
                success: function(data) {
                    document.getElementById("like_count").textContent = data.length.toString();
                    console.log(data);
                }
            })

            setTimeout(getNearLuvs, 1000);
        }
    </script>
{% endblock %}