<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="format-detection" content="telephone=no">
	<title>EDEN App - Sign Up</title>
	<link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="/static/layout.css"/>
	<link rel="stylesheet" type="text/css" href="/static/heading.css"/>
	<link rel="stylesheet" type="text/css" href="/static/select.css"/>
	<style type="text/css">
		.hidden {display:none;}
	</style>
	<script language="javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
	<script language="javascript">
		$('html').addClass('hidden');
    	$(window).on('load', function () {
			$('html').show();
    	});  
   	</script>
	<script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
	<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
	
	<link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
</head>

<body>
	<div class="heading_2">
		<div>
			<span>Select</span>
		</div>
	</div>

	<div id="scrollable">
        <div id="form_box">
            <form action="/select" method="POST">
                    <div id="form_text_box">
                        <div id="email">
                            <input id="last_input" autocomplete="off" autofocus name="email" placeholder="Email" type="email" required>
                        </div>
                    </div>
                    <button id="register_button" type="submit">Select</button>
            </form>
        </div>
	</div>

    <script language="javascript">
        function set_space() {
            var element = document.getElementById("last_input");
            var height =  element.offsetHeight;

            document.getElementById("form_text_box").style.height = "calc(" + height + "px + 2 * min(40px, 2vw) * 2 / 3)";

            document.getElementById("scrollable").style = `
                overflow: auto;
	               
                height: calc(${document.getElementById("form_box").offsetHeight}px + (min(200px, 15vw) + min(50px, 3vw)) * 2);

                z-index: 4;
            `;
        }

        set_space();

        $(window).resize(function() {
            set_space();
        });

        window.addEventListener("load", () => {
			set_space();
		});
    </script>
</body> 