{% extends "layout.html" %}

{% block title %}
	{{ name }}
{% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" type="text/css" href="/static/subunit.css"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
{% endblock %}

{% block main %}
	<a href="{{ back }}">
        <div class="back_button">
            <span>< Back</span>
        </div>
    </a>

    <div id="heading" class="heading_1">
        <div>
            <span>{{ name }}</span>
        </div>
    </div>

    <div id="scrollable" style="height: calc(min(9.5vw, 200px) * 1 / 2 * {{ rows }} + (min(9.5vw, 200px) * 1 / 8 + 10px) * {{ rows - 1 }} + 7 / 4 * (min(200px, 15vw) + min(50px, 3vw) * 5 / 2) + 1 * min(30px, 1.5vw));">
        {% for i in range(length) %}
		<a class="problem_link" id="{{ problems[i][0] }}" href="/problems/{{ problems[i][0] }}">
			<div id="problem_box_{{ i + 1 }}" class="problem_box">
				<div id="problem_text_box_{{ i + 1 }}" class="problem_text_box {{ problems[i][-4] }}">
					<span id="problem_text_{{ i + 1 }}" class="problem_text">{{ problems[i][0] }}</span>
				</div>
				<span id="dot_{{ i + 1 }}" class="dot"></span>
			</div>
		</a>
        {% endfor %}
	</div>	

	<div id="pagination" style="position: absolute; top: calc(min(9.5vw, 200px) * 1 / 2 * {{ rows }} + (min(9.5vw, 200px) * 1 / 8 + 10px) * {{ rows - 1 }} + 1 * (min(200px, 15vw) + min(50px, 3vw) * 5 / 2));">
			<button class="pagination-button" id="prev-button" title="Previous page" aria-label="Previous page">&lt;</button>
			
			<div id="pagination-numbers"></div>
			
			<button class="pagination-button" id="next-button" title="Next page" aria-label="Next page">&gt;</button>
	</div>

	<script language="javascript">
		const paginationNumbers = document.getElementById("pagination-numbers");
		const nextButton = document.getElementById("next-button");
		const prevButton = document.getElementById("prev-button");

		nextButton.style.visibility = "hidden";
		prevButton.style.visibility = "hidden";

		const paginationLimit = 10;
		const pageCount = Math.ceil({{ length }} / paginationLimit);
		let currentPage;

		const appendPageNumber = (index) => {
			const pageNumber = document.createElement("button");
			pageNumber.className = "pagination-number";
			pageNumber.innerHTML = index;
			pageNumber.setAttribute("page-index", index);
			pageNumber.setAttribute("aria-label", "Page " + index);
			paginationNumbers.appendChild(pageNumber);

			nextButton.style.visibility = "visible";
			prevButton.style.visibility = "visible";
		};
		const getPaginationNumbers = () => {
			for (let i = 1; i <= pageCount; i++) {
				appendPageNumber(i);
			}
		};

		const setCurrentPage = (pageNum) => {
			currentPage = pageNum;
			
			handleActivePageNumber();
			const prevRange = (pageNum - 1) * paginationLimit;
			const currRange = pageNum * paginationLimit;
			for (var i = 0; i < {{ length }}; i++) {
				const problem = document.getElementById("problem_box_" + (i + 1));
				problem.style.display = "none";
				if (prevRange <= i && i < currRange) {
					problem.style.display = "block";
				}
			}
		};

		const handleActivePageNumber = () => {
			document.querySelectorAll(".pagination-number").forEach((button) => {
				button.classList.remove("active");
				
				const pageIndex = Number(button.getAttribute("page-index"));
				if (pageIndex == currentPage) {
					button.classList.add("active");
				}
			});
		};

        function set_space() {
            var element = document.getElementById("heading");
            var height =  element.offsetHeight
            var font_size = parseInt(window.getComputedStyle(element).fontSize);
            var lines = Math.floor(height / font_size);
            var line_height = parseInt(parseInt(window.getComputedStyle(element).height) / lines);

			var rows = {{ rows }};

            for (var i = 1; i <= {{ length }}; i++) {
                var box =  document.getElementById("problem_box_" + i);
                var stylesheet = `
                    top: calc(min(200px, 15vw) + min(50px, 3vw) * 2);
                    left: 50%;
                    transform: translate(-50%, calc((min(9.5vw, 200px) * 1 / 2 + min(9.5vw, 200px) * 1 / 8 + 10px) * ${(i - 1) % rows} + ${(lines - 1) * line_height}px));
					z-index: 4;

					border-radius: min(2.5vw, 25px);
                `;
                box.style = stylesheet;
            }

			var pagination = document.getElementById("pagination");
			var stylesheet = `
				position: absolute;
				top: calc(min(9.5vw, 200px) * 1 / 2 * {{ rows }} + (min(9.5vw, 200px) * 1 / 8 + 10px) * {{ rows - 1 }} + 1 * (min(200px, 15vw) + min(50px, 3vw) * 5 / 2) + ${(lines - 1) * line_height}px);
			`;
			pagination.style = stylesheet;

            var scroll = document.getElementById("scrollable");
            var stylesheet = `
                overflow: auto;
				height: calc(min(9.5vw, 200px) * 1 / 2 * ${rows} + (min(9.5vw, 200px) * 1 / 8 + 10px) * ${ rows - 1 } + 6 / 4 * (min(200px, 15vw) + min(50px, 3vw) * 5 / 2) + 1 * min(30px, 1.5vw) + ${(lines - 1) * line_height}px);            `;

            scroll.style = stylesheet;
        }

        $(window).resize(function() {
			set_space();
			setCurrentPage(currentPage);
        });

        window.addEventListener("load", () => {
			set_space();
			getPaginationNumbers();
			setCurrentPage(1);
			prevButton.addEventListener("click", () => {
				if (currentPage > 1) {
					setCurrentPage(currentPage - 1);
				}
			});
			nextButton.addEventListener("click", () => {
				if (currentPage < pageCount) {
					setCurrentPage(currentPage + 1);
				}
			});
			document.querySelectorAll(".pagination-number").forEach((button) => {
				const pageIndex = Number(button.getAttribute("page-index"));
				if (pageIndex) {
					button.addEventListener("click", () => {
						setCurrentPage(pageIndex);
					});
				}
			});

			document.querySelectorAll(".problem_link").forEach((link) => {
				link.addEventListener("click", () => {
					localStorage.setItem(link.id + "_back", "{{ current }}");
				});
			});
		});

		set_space();
		setCurrentPage(1);

    </script>
{% endblock %}
