{% extends "layout.html" %}

{% block title %}
{{ problem_id }}
{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="/static/test_unit.css" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
{% endblock %}

{% block main %}
<a id="back_button_link">
    <div class="back_button">
        <span>
            < Back</span>
    </div>
</a>

<div id="heading" class="heading_1">
    <div>
        <span>{{ name }}</span>
    </div>
</div>

<div id="tracker">
    {% for i in range(10) %}
        {% if i < history_length %}
            {% if history[history_length - 1 - i][2] == "INCORRECT" %}
            <span id="dot_{{ i }}" class="dot incorrect_tracker"></span>
            {% elif history[history_length - 1 - i][2] == "CORRECT" %}
            <span id="dot_{{ i }}" class="dot correct_tracker"></span>
            {% else %}
            <span id="dot_{{ i }}" class="dot"></span>
            {% endif %}
        {% else %}
        <span id="dot_{{ i }}" class="dot"></span>
        {% endif %}
    {% endfor %}
</div>

<div id="scrollable">
    <div id="result_box">
        <div id="result_text_box">
            <span class="result_first" id="result_message">.</span>

            <div id="mini_tracker">
                {% for i in range(10) %}
                    {% if i < history_length %}
                        {% if history[history_length - 1 - i][2] == "INCORRECT" %}
                        <span id="result_dot_{{ i }}" class="result_dot incorrect_tracker"></span>
                        {% elif history[history_length - 1 - i][2] == "CORRECT" %}
                        <span id="result_dot_{{ i }}" class="result_dot correct_tracker"></span>
                        {% else %}
                        <span id="result_dot_{{ i }}" class="result_dot"></span>
                        {% endif %}
                    {% else %}
                    <span id="result_dot_{{ i }}" class="result_dot"></span>
                    {% endif %}
                {% endfor %}
            </div>

            <div>
                <button id="retest_button">Retest</button>
            </div>
        </div>
    </div>
    <div id="problem_box">
        <div id="problem_text_box">
            <img id="problem" src="{{ url_for('static', filename='problems/' + problem_id + 'p.png') }}">
        </div>

        <div id="A">
            <img id="answer_a" src="{{ url_for('static', filename='problems/' + problem_id + 'a.png') }}">
        </div>
        <div id="B">
            <img id="answer_b" src="{{ url_for('static', filename='problems/' + problem_id + 'b.png') }}">
        </div>
        <div id="C">
            <img id="answer_c" src="{{ url_for('static', filename='problems/' + problem_id + 'c.png') }}">
        </div>
        <div id="D">
            <img id="answer_d" src="{{ url_for('static', filename='problems/' + problem_id + 'd.png') }}">
        </div>
        {% if problem[12] != None %}
        <div id="E">
            <img id="answer_e" src="{{ url_for('static', filename='problems/' + problem_id + 'e.png') }}">
        </div>
        {% else %}
        <div id="E" style="display: none;">
            <img id="answer_e" src="{{ url_for('static', filename='problems/' + problem_id + 'e.png') }}">
        </div>
        {% endif %}

        <div>
            <button id="submit_button">Submit</button>
        </div>

        <div>
            <button id="solution_button">Solution</button>
        </div>

        <div>
            <button id="next_button">Next</button>
        </div>

        <div>
            <button id="finish_button">Finish</button>
        </div>
    </div>
</div>

<script language="javascript">
    document.getElementById("back_button_link").setAttribute("href", "/{{ url_name }}/{{ unit }}");

    var count = 0;//{{ history_length }};

    var answer;
    var answer_e_exists;
    var problem_id;

    userAgentString = navigator.userAgent
    let chromeAgent = userAgentString.indexOf("Chrome") > -1;
    let IExplorerAgent = userAgentString.indexOf("MSIE") > -1 || userAgentString.indexOf("rv:") > -1;
    let firefoxAgent = userAgentString.indexOf("Firefox") > -1;
    let safariAgent = userAgentString.indexOf("Safari") > -1;
    if ((chromeAgent) && (safariAgent)) safariAgent = false;
    let operaAgent = userAgentString.indexOf("OP") > -1;
    if ((chromeAgent) && (operaAgent)) chromeAgent = false;

    var selected_class = "answer_box_selected";
    var box_class = "answer_box";
    if (safariAgent) {
        selected_class = "answer_box_selected_safari";
        box_class = "answer_box_safari"
    }

    document.getElementById("A").classList.add(box_class);
    document.getElementById("B").classList.add(box_class);
    document.getElementById("C").classList.add(box_class);
    document.getElementById("D").classList.add(box_class);
    document.getElementById("E").classList.add(box_class);

    function set_space() {
        document.getElementById("result_box").style.display = "none";

        var element = document.getElementById("heading");
        var height = element.offsetHeight
        var font_size = parseInt(window.getComputedStyle(element).fontSize);
        var lines = Math.floor(height / font_size);
        var line_height = parseInt(parseInt(window.getComputedStyle(element).height) / lines);

        total_height = document.getElementById("problem_box").offsetHeight;
        console.log(total_height);
        document.getElementById("scrollable").style = `
            height: calc(${total_height}px + 6 / 4 * (min(200px, 15vw) + min(50px, 3vw) * 5 / 2) + ${(lines - 1) * line_height}px + min(9.5vw + 20px, 200px) * 1 / 2 * 1 + min(9.5vw, 200px) * 1 / 4);
        `;

        for (var i = 0; i < 10; i++) {
            document.getElementById("dot_" + i).style = `
                top: calc(min(200px, 15vw) + min(50px, 3vw) * 2.5 / 2);
                transform: translate(calc((min(9.5vw, 200px) * 5 + min(9.5vw, 200px)) / (-2) + 100% * 1.25 * ${i}), calc(50% + ${(lines - 1) * line_height}px));
            `;
        }

        document.getElementById("problem_box").style = `
            transform: translate(-50%, ${(lines - 1) * line_height}px);
        `
    }

    function set_result_space() {
        console.log("A");
        document.getElementById("problem_box").style.display = "none";
        console.log("B");
        document.getElementById("tracker").style.display = "none";

        console.log("C");
        var element = document.getElementById("heading");
        var height = element.offsetHeight
        var font_size = parseInt(window.getComputedStyle(element).fontSize);
        var lines = Math.floor(height / font_size);
        var line_height = parseInt(parseInt(window.getComputedStyle(element).height) / lines);

        console.log("D");
        for (var i = 0; i < 10; i++) {
            console.log(i);
            document.getElementById("result_dot_" + i).style = `
                transform: translate(calc(-50% + 100% * 1.25 * ${i} - 125% * 4.5), 0);
            `;
        }

        document.getElementById("result_box").style.display = "block";
    }

    function reset() {
        document.querySelectorAll("." + box_class).forEach((box) => {
            box.style.setProperty("--answer_box-outline", "solid");

            if (box.classList.contains("correct")) {
                box.classList.remove("correct");
            }

            if (box.classList.contains("incorrect")) {
                box.classList.remove("incorrect");
            }

            if (box.classList.contains(selected_class)) {
                box.classList.remove(selected_class);
            }
        });

        document.getElementById("submit_button").style.display = "block";
        document.getElementById("next_button").style.display = "none";
        document.getElementById("finish_button").style.display = "none";
        document.getElementById("solution_button").style.display = "none";
    }

    $(window).resize(function () {
        if (count >= 10) {
            set_result_space();
        }
        else {
            set_space();
        }
    });

    var interval = window.setInterval(function () {
        if (count < 10 && !eval(localStorage[problem_id + "_submitted"])) {
            var data = [
                {
                    "problem_id": "" + problem_id,
                    "status": "ATTEMPTED",
                    "time": 1,
                    "submission": localStorage[problem_id + "_submission"],
                }
            ];
            $.ajax({
                type: "POST",
                url: "/update_problem",
                data: JSON.stringify(data),
                contentType: "application/json",
                dataType: "json"
            });
        }
    }, 1000);

    window.addEventListener("load", () => {
        console.log(count);
        if (count >= 10) {
            reset();

            set_result_space();
        }
        else {
            reset();
            
            answer = "{{ answer }}";
            answer_e_exists = "{{ problem[12] }}" == "None" ? false : true;
            problem_id = "{{ problem_id }}";

            set_space();

            if ("{{ problem[-1] }}" != "None") {
                localStorage[problem_id + "_submission"] = "{{ problem[-1] }}"
            }
            if ("{{ problem[-4] }}" != "None" && "{{ problem[-4] }}" != "ATTEMPTED") {
                localStorage[problem_id + "_submitted"] = true;
            }
            else {
                localStorage[problem_id + "_submitted"] = false;
            }

            if (eval(localStorage[problem_id + "_submitted"]) == true) {
                document.querySelectorAll("." + box_class).forEach((box) => {
                    box.style.setProperty("--answer_box_border_color", "transparent");
                });

                if (localStorage[problem_id + "_submission"] == answer.toUpperCase()) {
                    document.getElementById(localStorage[problem_id + "_submission"]).classList.add("correct");
                }
                else {
                    document.getElementById(localStorage[problem_id + "_submission"]).classList.add("incorrect");
                }

                document.getElementById("solution_button").style.display = "block";
                if (count >= 10) {
                    document.getElementById("finish_button").style.display = "block";
                }
                else {
                    document.getElementById("next_button").style.display = "block";
                }
                document.getElementById("submit_button").style.display = "none";
            }
            else {
                document.querySelectorAll("." + box_class).forEach((box) => {
                    box.style.setProperty("--answer_box_border_color", "rgba(140, 140, 140, 0.1)");
                });

                localStorage[problem_id + "_submitted"] = false;

                document.getElementById("submit_button").style.display = "block";
                document.getElementById("solution_button").style.display = "none";
                document.getElementById("next_button").style.display = "none";
                document.getElementById("finish_button").style.display = "none";
            }

            if (localStorage[problem_id + "_submission"] != null) {
                document.getElementById(localStorage[problem_id + "_submission"]).classList.add(selected_class);

                document.getElementById("submit_button").style.setProperty("--submit_button_transform", "translate(-50%, calc(min(40px, 2vw) - min(7px, 0.35vw) / 2))");
                document.getElementById("submit_button").style.setProperty("--submit_button_width", "calc(min(7.125vw, 150px) + min(7px, 0.35vw))");
                document.getElementById("submit_button").style.setProperty("--submit_button_height", "calc(min(9.5vw + 20px, 200px) * 1 / 4 + min(7px, 0.35vw))");
            }
            else {
                document.getElementById("submit_button").style.setProperty("--submit_button_transform", "translate(-50%, min(40px, 2vw))");
                document.getElementById("submit_button").style.setProperty("--submit_button_width", "min(7.125vw, 150px)");
                document.getElementById("submit_button").style.setProperty("--submit_button_height", "calc(min(9.5vw + 20px, 200px) * 1 / 4)");
            }

            document.querySelectorAll("." + box_class).forEach((box) => {
                box.addEventListener("click", () => {
                    if (!eval(localStorage[problem_id + "_submitted"])) {
                        if (box.classList.contains(selected_class)) {
                            box.classList.remove(selected_class);

                            document.getElementById("submit_button").style.setProperty("--submit_button_transform", "translate(-50%, min(40px, 2vw))");
                            document.getElementById("submit_button").style.setProperty("--submit_button_width", "min(7.125vw, 150px)");
                            document.getElementById("submit_button").style.setProperty("--submit_button_height", "calc(min(9.5vw + 20px, 200px) * 1 / 4)");

                            localStorage.removeItem(problem_id + "_submission");
                        }
                        else {
                            document.querySelectorAll("." + box_class).forEach((other_box) => {
                                other_box.classList.remove(selected_class);
                            });
                            box.classList.add(selected_class);

                            document.getElementById("submit_button").style.setProperty("--submit_button_transform", "translate(-50%, calc(min(40px, 2vw) - min(7px, 0.35vw) / 2))");
                            document.getElementById("submit_button").style.setProperty("--submit_button_width", "calc(min(7.125vw, 150px) + min(7px, 0.35vw))");
                            document.getElementById("submit_button").style.setProperty("--submit_button_height", "calc(min(9.5vw + 20px, 200px) * 1 / 4 + min(7px, 0.35vw))");

                            localStorage[problem_id + "_submission"] = box.id;
                        }
                    }
                });
            });

            document.getElementById("submit_button").addEventListener("click", () => {
                if (localStorage.getItem(problem_id + "_submission") != null) {
                    localStorage[problem_id + "_submitted"] = true;

                    document.querySelectorAll("." + box_class).forEach((box) => {
                        box.style.setProperty("--answer_box_border_color", "transparent");
                    });

                    if (localStorage[problem_id + "_submission"] == answer.toUpperCase()) {
                        document.getElementById(localStorage[problem_id + "_submission"]).classList.add("correct");
                    }
                    else {
                        document.getElementById(localStorage[problem_id + "_submission"]).classList.add("incorrect");
                    }

                    document.getElementById("solution_button").style.display = "block";
                    if (count >= 10) {
                        document.getElementById("finish_button").style.display = "block";
                    }
                    else {
                        document.getElementById("next_button").style.display = "block";
                    }
                    document.getElementById("submit_button").style.display = "none";

                    var status = "INCORRECT"
                    if (localStorage[problem_id + "_submission"] == answer.toUpperCase()) {
                        status = "CORRECT"
                    }
                    var data = [
                        {
                            "problem_id": problem_id + "",
                            "status": status,
                            "time": 0,
                            "submission": localStorage[problem_id + "_submission"],
                            "test_id": "{{ test_id }}"
                        }
                    ];
                    $.ajax({
                        type: "POST",
                        url: "/update_problem",
                        data: JSON.stringify(data),
                        contentType: "application/json",
                        dataType: "json"
                    });
                    
                    setTimeout(function() {
                        fetch("/get_test_history/{{ test_id }}")
                        .then(function (response) {
                            return response.json();
                        }).then(function (data) {
                            var history = data.history;
                            for (var i = 0; i < history.length; i++) {
                                var dot = document.getElementById("dot_" + i);
                                if (dot.classList.contains("correct_tracker")) {
                                    dot.classList.remove("correct_tracker");
                                }
                                if (dot.classList.contains("incorrect_tracker")) {
                                    dot.classList.remove("incorrect_tracker");
                                }
                                
                                if (history[history.length - 1 - i][2] == "CORRECT") {
                                    dot.classList.add("correct_tracker");
                                }
                                if (history[history.length - 1- i][2] == "INCORRECT") {
                                    dot.classList.add("incorrect_tracker");
                                }
                            }

                            count = history.length;
                        });
                    }, 10);
                }
            });

            document.getElementById("next_button").addEventListener("click", () => {
                fetch("/get_problem/{{ url_name }}/{{ unit }}")
                .then(function (response) {
                    return response.json();
                }).then(function (data) {
                    var problem = data.problem;

                    answer = data.answer;
                    problem_id = data.problem_id;

                    console.log("Answer: " + answer);

                    document.getElementById("problem").src = "{{ url_for('static', filename='problems/') }}" + problem_id + "p.png";
                    document.getElementById("answer_a").src = "{{ url_for('static', filename='problems/') }}" + problem_id + "a.png";
                    document.getElementById("answer_b").src = "{{ url_for('static', filename='problems/') }}" + problem_id + "b.png";
                    document.getElementById("answer_c").src = "{{ url_for('static', filename='problems/') }}" + problem_id + "c.png";
                    document.getElementById("answer_d").src = "{{ url_for('static', filename='problems/') }}" + problem_id + "d.png";
                    if (problem[12]) {
                        document.getElementById("answer_e").src = "{{ url_for('static', filename='problems/') }}" + problem_id + "e.png";
                        document.getElementById("E").style.display = "block";
                        answer_e_exists = true;
                    }
                    else {
                        document.getElementById("answer_e").textContent = problem[12];
                        document.getElementById("E").style.display = "none";
                        answer_e_exists = false;
                    }
                    
                    console.log(document.getElementById("problem_box").offsetHeight);
                    MathJax.typeset();
                    reset();
                    set_space();
                });
            });

            document.getElementById("finish_button").addEventListener("click", () => {
                console.log("A");
                reset();
                set_result_space();
            });
        }
    });
</script>
{% endblock %}