{% extends "layout.html" %}

{% block title %}
	{{ username }}
{% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" type="text/css" href="/static/user.css"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
{% endblock %}

{% block main %}
    <a href="javascript:history.back()">
        <div class="back_button">
            <span>< Back</span>
        </div>
    </a>
    

    <div id="heading" class="heading_1">
        <div>
            <span>{{ username }}</span>
        </div>
    </div>

    <div id="scrollable">
        <div class="info_box">
            <div class="info_text_box">
                <span class="info"></span>
            </div>
        </div>
	</div>

    <script language="javascript">
        
    </script>
{% endblock %}